@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Albert Sans', sans-serif;
}
.loader {
  text-align: center;
  width: 150px;
  height: 150px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #06a3f9 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


.user-item:hover{
  box-shadow: 0px 4px 10px #06a4f9c5;
}

.image-container{
  position: relative;
  z-index: 10000;
  background-image: linear-gradient(to right, rgba(0,0,0,0.8) , rgba(0,0,0,0.7));
  border-radius: .8rem;

}

.profile-img{
  opacity: .7;
}

.label{
  padding: 3px 10px;
  border-radius: 50px;
  
}

.type{
  background-color: rgba(93, 231, 144, 0.082);
}

.hire{
  color: #4dc1ffc5;
  background-color: #06a4f913;
}

.social{
  border-right: 2px solid rgba(68, 68, 68, 0.767);
}